<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/setPassword.css" />
    <script src="/js/setPassword.js" defer></script>
    <title>Secret Santa</title>
  </head>
  <body>
    <p>Instructions:</p>
    <p class="instructions">
      Share this link to all members. <br /><br />
      www.lukaspi.ddns.net/secretsanta/50213/ <br /><br />Select your name and
      enter a 4 digit passcode that you will use to find out whose secret santa
      you are!
    </p>
    <div class="passwordSetDiv">
      <form action="/test" method="post">
        <label for="pass">Member 1 -</label>
        <input
          type="number"
          name="pass"
          id="pass"
          oninput="submitPassword(this)"
        />
      </form>
    </div>
    <img src="/svg/cat.svg" alt="cat" id="cat" />
  </body>
</html>
