* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5e9e2;
  font-family: "Fredoka One", cursive;
  color: #4e4e4e;
  overflow-x: hidden;
}

#cat {
  position: absolute;
  bottom: 3rem;
  right: -3rem;
  width: 62.5%;
  filter: blur(0.0625rem);
}

.passwordSetDiv {
  width: 75%;
  border: white 2px solid;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

form {
  width: 80%;
  margin: auto;
  font-size: 1.5rem;
}
form p {
  margin-bottom: 0.5rem;
}

input {
  font-size: 1rem;
  font-family: "Fredoka One", cursive;
  text-align: center;

  padding: 0.75em 1em;
  margin-bottom: 1.5rem;
  background-color: #faf3f0;
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid #c6c6c6;
  outline: none;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
input::placeholder {
  color: #c4c4c4;
}
